In [3]:
import mysql.connector

In [4]:
db=mysql.connector.connect(
    host="127.0.0.1",
    port="3306",
    user="****",
    passwd="******",
    database="test"
    
)

In [5]:
print(db)

<mysql.connector.connection.MySQLConnection object at 0x00000224F0EC3888>

In [6]:
cursor=db.cursor()


<h2>TO CREATE A NEW DATABASE</h2>
<p>
    Next step of creating a database can be skipped if you mention database="test" because it gives you a error as db already exsists
    </p>

In [9]:
#cursor.execute("CREATE DATABASE test1")

<h2>TO SHOW ALL DATABASES</h2>

In [16]:
cursor.execute("SHOW DATABASES")

In [17]:
for i in cursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)
('test1',)

In [12]:
#cursor.execute("CREATE TABLE mobileprice (manufacturer VARCHAR(255),priceINR INTEGER(10))")

ProgrammingError: 1050 (42S01): Table 'mobileprice' already exists

In [14]:
cursor.execute("SHOW TABLES")

InternalError: Unread result found

In [15]:
for i in cursor:
    print(i)

('mobileprice',)

<h2>Adding data into table</h2>

In [19]:
formula="INSERT INTO mobileprice (manufacturer,priceINR) VALUES(%s,%s)"

In [20]:
info=[("samsung",12000),("iphone",50000),("nexus",35000)]

<h3>as many values are being stored ata time in the db executemany is used else execute is used</h3>

In [ ]:
cursor.executemany(formula,info)

<h4>.commit to reflect the changes</h4>

In [22]:
db.commit()

<h3>now go to your table from workbench</h3>
<p>run "USE DATABASENAME"
    THEN RUN "SELECT *
              FROM TABLENAME"

<h1>getting data from db</h1>

In [28]:
cursor.execute("SELECT * FROM mobileprice")

<h2>fetches all the data from db</h2>
<p>.fetchone can be used to fetch only one value</p>

In [30]:
res=cursor.fetchall()

<p>you can replace *->all with any particular column</p>

<h3>working with where</h3>

In [1]:
sql="SELECT * FROM mobileprice WHERE priceINR=50000"

In [7]:
cursor.execute(sql)

In [8]:
result=cursor.fetchall()

In [10]:
for i in result:
    print(result)

[('iphone', 50000)]

<h2>like can be used to filter data further
    </h2>
    <p> %text% text should be present in middle
        text%  text should be present in beginning
        %text  text should be present in end </p>

In [11]:
sql="SELECT * FROM mobileprice WHERE manufacturer LIKE 'ip%'"

In [12]:
cursor.execute(sql)

In [13]:
result=cursor.fetchall()

In [14]:
for i in result:
    print(result)

[('iphone', 50000)]

<h3>to update the values in db</h3>

In [19]:
sql="UPDATE mobileprice SET priceINR=60000 WHERE manufacturer='iphone'"

In [20]:
cursor.execute(sql)

In [22]:
db.commit()

<h3>To get only a specified number of values from db</h3>

In [23]:
sql="SELECT * FROM mobileprice LIMIT 5"

In [28]:
cursor.execute(sql)

In [29]:
result=cursor.fetchall()

In [36]:
for i in result:
    print(i)

('samsung', 12000)
('nexus', 35000)
('iphone', 60000)

<h3>To order data</h3>

In [31]:
sql="SELECT * FROM mobileprice ORDER BY priceINR"

In [32]:
cursor.execute(sql)

In [33]:
result=cursor.fetchall()

In [37]:
for i in result:
    print(i)

('samsung', 12000)
('nexus', 35000)
('iphone', 60000)

<h3>DESC can be used to do the sort in descending order</h3>

In [38]:
sql="SELECT * FROM mobileprice ORDER BY priceINR DESC "

In [39]:
cursor.execute(sql)

In [40]:
result=cursor.fetchall()

In [41]:
for i in result:
    print(i)

('iphone', 60000)
('nexus', 35000)
('samsung', 12000)

<h3>deleting from tables</h3>

In [42]:
sql="DELETE FROM mobileprice WHERE manufacturer='samsung' "

In [43]:
cursor.execute(sql)

In [44]:
db.commit()

<h3>Deleting the entire table</h3>

In [46]:
sql="DROP TABLE mobileprice "

In [47]:
cursor.execute(sql)

In [48]:
db.commit()